.content-history{
  height: 500px;
  width: auto;
}
.content-structure, .content-governance{
  background-image: url("../../images/abstract-background.jpg");
  background-position: center;
  background-size: cover;
}

.info-content{
  width: 600px;
}
