.white{
  color: #ffffff;
}
.white-bg{
  background-color: #ffffff;
}
.red{
  
}
.red-bg{
  background-color: #a0443b;
}

.green-bg{
  background-color: #00aa8d;
}
.green-bg-light{
  background-color: #00bf9a;
}
.green-bg-dark{
  background-color: #008975;
}
