.contact-enquiry{
  color: #005b9d;
  background-color: #eeeeee;
  margin: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
.contact-details> h2, .googlemaps> h2{
  text-align: center;
}
.contact-details{
  margin: 0;
  padding: 20px;
}
.googlemaps{

}

.map{
  width: 100%;
  height: 400px;
  background-color: grey;
}
.contact-container{
  @extend .welcome-container;
}

.contact-message{
  @extend .welcome-message;
}
