.main-heading{
  font-size: 36px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.welcome-container {
  height: 100%;
  position: relative;
  /*background: url("/images/welcome-background.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  align-self: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.parallax-bg {
  margin-top: -43px;
  width: 100%;
  height: 100vh;
  -webkit-filter: contrast(105%) opacity(90%);
  z-index: -1;
}

.welcome__message-wrapper {
  position: relative;
  padding: 20px 30px;
  background-color: #ffffff;
}

.welcome__message-content {
  padding: 5px;
}

.message-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  // float: left;
}

.main__description {
  background-image: url("../../images/banner-background.jpg");
  background-position: center;
  background-size: contain;

  h1 {
    font-weight: 400;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.main__description-text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
  padding: 10px 10%;
}

.members__founding-image {
  border-radius: 50%;
}

.tangentyere__partners-images {
  width: 500px;
  display: block;
  margin: 0 auto;

  div {
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }
}

.info-content{
  padding: 20px;
}
.structure-image{
  width: auto;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
}

.welcome-footer {
  .image-slider {
    width: 250px;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
}
@media #{$tablets-device} {
  .message-image {
    border-radius: 100%;
    float: left;
  }
}
@media #{$desktop-device} {
  .message-image {
    width: 200px;
    height: 200px;
    border-radius: 0;
    // float: left;
  }

  .welcome__message-content {
    padding: 10px 20px;
  }

  .servicetabs__box {
    width: 25vw;
  }

  .main__description-text {
    font-size: 20px;
    padding: 10px 20%;
  }
}
