@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  h1 {
    font-size: 22px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}

.hide-on-small {
  display: none;
}

.strong {
  font-weight: 600;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  p {
    align-self: center;
  }
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav-home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mainnav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-end;
    transition: 300ms ease-out;
  }

  li {
    display: inline-flex;
    padding: 0 10px;
  }
}
/*this section has defined the container */
.container {
  display: flex;
  flex-direction: column;
  padding-top: 43px;
}

.container-construction {
  height: 200px;
  font-weight: 400;
  text-align: center;
  padding-top: 200px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__message-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.container-content {
  padding: 20px 0;
}
/*This all service tabs and content for service page.*/
.servicetabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.servicetabs__box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicetabs__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.enterprises__wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}

.summary__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.summary__card-person {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.general__container-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: auto;
  width: fit-content;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.space{
  flex-grow: 1;
}
.partners-images-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employment__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media #{$mobile-device-landscape} {}
@media #{$tablets-device} {
  .card-container {
    flex-flow: row wrap;
  }

  .footer-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media #{$desktop-device} {
  .hide-on-small {
    display: block;
  }

  .hide-on-desk {
    display: none;
  }

  .card-container {
    flex-flow: row wrap;
  }

  .welcome__message-wrapper {
    flex-direction: row;
  }
// .employment__wrapper{
//   flex-direction: row;
// }
.enterprises__wrapper {
  flex-direction: row;
}

  .footer-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .summary__card-container {
    justify-content: space-around;
  }

  .summary__card-person {
    flex-wrap: nowrap;
  }
}
