@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}

.strong {
  font-weight: 600;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  p {
    align-self: center;
  }
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mainnav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-end;
    transition: 300ms ease-out;
  }

  li {
    display: inline-flex;
    padding: 0 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 43px;
}
.container-construction{
  height: 200px;
  font-weight: 400;
  text-align: center;
  padding-top: 200px;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicetabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.servicetabs__box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicetabs__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: auto;
  width: fit-content;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.partners-images-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media #{$mobile-device-landscape} {}
@media #{$tablets-device} {
  .card-container {
    flex-flow: row wrap;
  }

  .footer-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media #{$desktop-device} {
  .card-container {
    flex-flow: row wrap;
  }

  .footer-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
