.navbar-wrapper {
  position: fixed;
  height: 42px;
  width: 100%;
  z-index: 1;

  a {
    color: $text-color;
    padding: 9px 16px;
    text-decoration: none;
  }
}
.nav{
  background-color: $bg-color;
}
.mainnav {
  a:hover {
    color: $text-color;
    background-color: $hover-color;
  }
}

.heading {
  background-color: $bg-color;
}
.heading-bottom{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.mainnav {
  color: $text-color;
  background-color: $bg-color;
  margin: 0;

  li {
    font-size: 16px;
  }

  a {
    color: $text-color;
  }
}

.mainnav.change {
  background-color: $bg-color;
}

.logo{
  margin: 0;
  width: 100px;
  height: 44px;
}

.sidenav {
  visibility: hidden;
  position: absolute;
  width: 250px;
  height: 100vh;
  background-color: $bodybackground;
  transform: translateX(-225px);
  transition: transform 0.4s ease-in-out;
}

.sidenav.show {
  transform: translateX(0);
  visibility: visible;
}
@media #{$tablets-device} {

}
@media #{$desktop-device} {

}
