.navbar-wrapper {
  position: fixed;
  height: 42px;
  width: 100%;
  z-index: 999;

  a {
    color: $text-color;
    padding: 9px 16px;
    text-decoration: none;
  }
}

.nav {
  background-color: $bg-color;
}

.nav-home {
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  ul {
    a {
      color: black;
    }
  }
}

.mainnav {
  a:hover {
    color: $text-color;
    background-color: $hover-color;
  }
}

.heading {
  background-color: $bg-color;
}

.heading-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.mainnav {
  color: $text-color;
  margin: 0;

  li {
    font-size: 16px;
  }

  a {
    color: $text-color;
  }
}

.change {
  background-color: $bg-color;

  ul {
    a {
      color: $text-color;
    }
  }
}

.logo {
  margin: 0;
  width: 145px;
  height: 44px;
}

.sidenav {
  visibility: hidden;
  position: absolute;
  width: 250px;
  height: 100vh;
  background-color: $bodybackground;
  transform: translateX(-225px);
  transition: transform 0.4s ease-in-out;
  align-self: baseline;

  li {
    padding: 10px 20px;
    border-bottom: 1px solid #000000;
  }
}

.active-side {
  background-color: blue;
}

.sidenav.show {
  transform: translateX(0);
  visibility: visible;
}
@media #{$tablets-device} {}
@media #{$desktop-device} {}
