
.image-placeholder {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #222;
}

.struct-placeholder{
  width: 500px;
  height: 300px;
  background-color: #888;
}
.enterprises__wrapper-content{
  width: 50%;
}
.enterprises-image{
  height: 400px;
  background-color: #222;
}

@media #{$desktop-device} {

}
