
.image-placeholder {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #d9d099;
}

.struct-placeholder{
  width: 500px;
  height: 300px;
  background-color: #d9d099;
}


@media #{$desktop-device} {

}
