.services{
  margin: 0;
  padding: 20px;
  background-color: #e0e0e0;
}

.services-tabs{
  background-color: #ffffff;
}
.content-help{
  background-color: #222;
  color: #fff;
  text-align: center;
}
