//colors
$bg-color: #2c3e50;
$hover-color: #16a085;
$text-color: #ffffff;
$bodybackground: #3c3e42;
$footer-text: #f0f0f0;
$footerbackground: #3c3e42;



//media device-width
$desktop-device: "only screen and (min-width: 961px)";
$tablets-device: "only screen and (min-width: 641px)";
$mobile-device-landscape: "only screen and (min-width: 480px)";
$phone-device: "only screen and (max-width: 480px)";
